div {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;

}

h2 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: 600px) {
    div {
        margin: 10px;
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    h3 {
        font-size: 16px;
    }
}


#title {
    transition: .6s;
    margin: 8px;
    height: 28px;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title:hover {
    cursor: pointer;
}

.icons {
    background: orange;
    border: none !important;
    width: fit-content;
    height: 3rem !important;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}